
<ion-view view-title="FAQ" hide-nav-bar="true">
    <ion-header-bar class="bar-positive">        
        <button class="button button-large left" ng-click="goBack()">
            <i class="icon ion-arrow-left-c"></i>
        </button>
        <h1 class="title">FAQ</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <script>
            $(function() {
                $( "#accordion" ).accordion();
            });
        </script>
        <br/><br/>
        <div id="accordion">
            <h3>How do i purchase my electricity token ?</h3>
            <div>
              <p>
              Type the url buypower.ng in a browser [ Laptop, phone, Tablet or Desktop ]
                If you do not have an account on the platform click on the "register button" on the home page and enter your details on the next page
                If you have an account on the platform click on the "login button" on the home page and enter your login details
                displayed
              </p>
            </div>
            <h3>What if it's taking so much time to be redirected to the payment page ?</h3>
            <div>
              <p>
              There is probably a network problem. Kindly Click the Refresh button on
              your browser or contact us @ 08054031444 or 08037900743
              </p>
            </div>
            <h3>What happens if my Card (Verve, Visa, Mastercard) doesn't work ?</h3>
            <div>
              <p>
              Make sure your card is activated for online transactions.
              You can go to your bank and ask them to activate your card for online transactions.
              </p>
              <ul>
                <li>You can also make a Phone Order by calling the numbers 08054031444 or 08037900743</li>
                <li>You can contact us @ 08054031444 or 08037900743 for more enquiries</li>
              </ul>
            </div>
            <h3>How do I access my tokens?</h3>
            <div>
              <p>
              There are two ways to access your token and other details of the transaction
              </p>
              <ul>
                  <li>Via Email and Previous Transactions</li>
                  <li>if you entered an email when creating your account,
                      Your token and other details of the transaction would be sent to the email</li>
                  
              </ul>
            </div>
          </div>
       
    </ion-content>
</ion-view>
