<ion-view view-title="Purchase Summary">
    <ion-content class="padding">
        <br/><br/><br/>
        <div class="card" id="summaryinfo">
            <div class="item item-divider">
                <div class="item item-input">
                    <p>Payment Summary</p>
                </div>
            </div>
            <div class="item item-text-wrap">
                <div class="item item-input">
                    <span class="col-33">Meter No.</span><span class="Right">123456</span>
                </div>
                <div class="item item-input">
                    <span class="col-33">Customer</span><span class="Right">Abdulazeez Yari</span>
                </div>
                <div class="item item-input">
                    <span class="col-33">Address</span><span class="Right">Plot 97 Kaduna Street</span>
                </div>
                <div class="item item-input">
                    <span class="col-33">State</span><span class="Right">AEDC</span>
                </div>
                <div class="item item-input">
                    <span class="col-33">Phone</span><span class="Right">08075451213</span>
                </div>
                <div class="item item-input">
                    <span class="col-33">Amount</span><span class="Right">&#8358;2, 300</span>
                </div>
            </div>
        </div>
        <button class="button button-full button-assertive" ui-sref="payment">Pay Now</button>        
    </ion-content>
</ion-view>